<h1>About stroll.io</h1>
<br>
<div class="row">
  <div class="span9">
    <p>
      You can read all of the guide books in the world, and you'll still ask your friends about their experiences 
      before you decide where to go on vacation. Unfortunately, it's really difficult to browse through the pictures that your friends
      have taken when they were at the sites you're hoping to see.
    </p>
    
    <p>
      As a result you have to facebook stalk all of your friends, which takes a really long time. Since most of us are pretty lazy, we just 
      ask our closest friends to show us their pictures the next time we grab dinner.
    </p>
    
    <p>
      That's all well and good, but odds are you have a lot of friends who you haven't talked to in a while who may have taken photos 
      that will influence your decision. They may even be people you follow on twitter or instagram, that you've never met in real life.
    </p>
    
    <p>
      stroll.io allows you to search through these pictures by geolocation, so you can get a sense of whether or not these 
      are places that you want to visit.
    </p>
    
    <p>
      A picture is a worth a thousand words. We want to make sure that you pick the best place to spend your precious vacations.
    </p>
  </div>
  
  <div class="span3">
    <h3>Find us on Twitter:</h3>
    <h3><%= link_to "@strollioapp", "https://twitter.com/#!/strollioapp" %></h3>
    
    <hr/>
    
    <h3>Find us on <%= link_to "Tumblr", "http://strollio.tumblr.com/" %></h3>
  </div>
</div>