@import url(http://fonts.googleapis.com/css?family=Fascinate+Inline)


ul.nav
  padding: 10px 0px

.navbar .brand
  font-size: 35px
  margin-top: 3px
  height: 35px
  font-family: 'Fascinate Inline'
  text-transform: lowercase

.navbar .brand:hover
  color: #eee
  -webkit-transition: color .25s ease-in

.navbar-search
  margin-top: 15px
